@import './reset';
@import './variables/global';
@import './variables/colors';
@import './margins/margins';
@import './theme/light';
@import './theme/dark';


body {
   font-size: var(--font-size-m);
   line-height: var(--font-line-m);
   font-family: var(--font-family-main);
   min-height: 100%;
}

.app {
   background-color: var(--bg-color);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   color: var(--text-color);
}

.dsp-none {
   display: none;
}


@media (width <= 540px) {
   body {
      font-size: var(--font-size-s);
      line-height: var(--font-line-s);
   }
}