.title {
   font-size: var(--font-size-xl);
   line-height: var(--font-line-xl);
   font-weight: var(--text-weight-extrabold);
   color: var(--primary-color);
}

.content {
   min-height: 90vh;
}

.form {
   width: 100%;
   max-width: 320px;
}

.inputWrapper {
   position: relative;
}

.errorSubtitle {
   color: red;
}

.text {
   margin-right: 10px;
}

.errorInput {
   position: absolute;
   top: -21px;
}