.title {
   font-size: var(--font-size-xl);
   line-height: var(--font-line-xl);
   margin-bottom: 10px;
   font-weight: var(--text-weight-extrabold);
   color: var(--primary-color);
}

.form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   max-width: 400px;
}

.inputWrapper {
   position: relative;
   width: 100%;
}

.subtitle {
   margin-bottom: 40px;
}

.errorSubtitle {
   color: red;
   margin-bottom: 40px;
}

.account {
   display: flex;
   align-items: flex-start;
   padding: 20px 0;
}

.text {
   margin-right: 10px;
}

.errorInput {
   font-size: var(--font-size-xs);
   position: absolute;
   top: -26px;
   color: red;
}