:root {
  --font-family-main: montserrat, "Times New Roman", serif;
  --text-weight-extrabold: 700;
  --font-size-s: 14px;
  --font-line-s: 28px;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-size-xxl: 40px;
  --font-line-xxl: 48px;
  --primary-color: #6F78CE;
  --dark-primary-color: #4751a3;
  --white-color: #fff;
  --border-radius-elems: 6px;
  --input-size-m: 44px;
  --z-index-1: 10;
}

