:root {
  --font-family-main: montserrat, "Times New Roman", serif;
  --text-weight-bold: 600;
  --text-weight-extrabold: 700;
  --font-size-xs: 12px;
  --font-line-xs: 20px;
  --font-size-s: 14px;
  --font-line-s: 22px;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-size-l: 22px;
  --font-line-l: 30px;
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-size-xxl: 40px;
  --font-line-xxl: 48px;

  --border-radius-elems: 6px;
  --appbutton-border-radius: 30px;
  --border-radius-cards: 10px;
  --input-radio-size-xs: 20px;
  --input-size-m: 44px;
  --progress-indicator-weight: 16px;
  --progress-indicator-height: 16px;
  --category-icon-weight: 30px;
  --category-icon-height: 30px;
  --elem-shadow-blur: 2px 4px 14px -4px;
  --z-index-1: 10;
  --icon-size-xs: 18px;
  --icon-size-s: 24px;
  --icon-size-m: 30px;
}

