.header {
   padding: 40px 0;
   background-color: var(--header-color);
   box-shadow: rgba(var(--elem-shadow-color)) 2px 2px 8px 0px;
}

.content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btnIcon {
   margin-right: 10px;
   width: auto;
   height: 20px;
}

.btnText {
   @media(width <= 480px){
      display: none;
   }
}

[data-rect] {
   fill: var(--title-color);
}
