.item {
   padding: 30px;
   box-shadow: rgb(0 30 43 / 20%) 2px 4px 14px -4px;
   border-radius: var(--border-radius-cards);
   font-size: var(--font-size-s);
   background-color: var(--fields-color);
}

.category,
.progress {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}

.categoryIcon {
   margin-right: 10px;
   width: 30px;
   height: 30px;
}

.categoryName {
   font-size: var(--font-size-s);
}

.progressIcon {
   margin-right: 10px;
}

.lastCheck {
   margin-bottom: 30px;
}

.lastCheck span {
   font-weight: var(--text-weight-bold);
}


