.trackSkeleton {
   padding: 30px;
   box-shadow: var(--trackcard-skeleton-boxshadow);
   border-radius: var(--border-raduis-cards);
   font-size: var(--font-size-m);
   background-color: var(--bg-color);
}

.category {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}

.categoryIcon {
   padding: 18px;
   border-radius: 50%;
   margin-right: 10px;
}

.categoryText {
   border-radius: 2px;
   width: 120px;
   height: 16px;
}

.title {
   width: 100%;
   height: 26px;
   margin-bottom: 30px;
   border-radius: 2px;
}

.progress {
   border-radius: 2px;
   width: 180px;
   height: 20px;
   margin-bottom: 30px;
}

.lastCheckTitle {
   width: 140px;
   height: 16px;
   border-radius: 2px;
   margin-bottom: 10px;
}

.lastCheck {
   width: 100px;
   height: 16px;
   border-radius: 2px;
   margin-bottom: 40px;
}

.btnCheck {
   display: inline-block;
   width: 180px;
   height: 50px;
   border-radius: 2px;
}

.categoryIcon,
.categoryText,
.progress,
.progressText,
.title,
.lastCheckTitle,
.lastCheck,
.btnCheck {
   opacity: .5;
   animation: skeleton-loading 1s linear infinite alternate;
}



@keyframes skeleton-loading {
   0% {
      background-color: var(--skeleton-animation-secondary);
   }

   100% {
      background-color: var(--skeleton-animation-primary);
   }
}