.trackList {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
}


@media (width <= 890px) {
   .trackList {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (width <= 590px) {
   .trackList {
      grid-template-columns: 1fr;
   }
}