.app_dark_theme {
   --bg-color: #0A112B;
   --bg-color-rgb: 10, 17, 43;
   --footer-color: #02081b;
   --title-color: #FFF;
   --text-color: #bbb;
   --inverted-text-color: #252626;
   --line-color: #4B4B4B;
   --fields-color: #161F3F;
}