.app_dark_theme {
   --bg-color: #0A112B;
   --bg-color-rgb: 10, 17, 43;
   --footer-color: #02081b;
   --header-color: #0A112B;
   --title-color: #FFF;
   --text-color: #bbb;
   --inverted-text-color: #252626;
   --line-color: #4B4B4B;
   --fields-color: #161F3F;
   --card-color: #161F3F;
   --header-boxshadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.35);
   --trackcard-skeleton-boxshadow: rgba(0, 0, 0, 0.45) 2px 4px 14px -4px;
   --skeleton-animation-primary: hsl(227, 57%, 15%);
   --skeleton-animation-secondary: hsl(227, 48%, 26%);
}