.app_light_theme {
   --bg-color: #FFF;
   --bg-color-rgb: 255, 255, 255;
   --footer-color: #0A112B;
   --title-color: #0A112B;
   --header-color: #fff;
   --text-color: #252626;
   --inverted-text-color: #fff;
   --line-color: #DCDCDC;
   --appbutton-focus-color: #6F78CE;
   --appbutton-line-color: #CCCCCC;
   --fields-color: #EFF2F9;
   --card-color: #EFF2F9;
   --header-boxshadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.10);
   --trackcard-skeleton-boxshadow: rgba(0, 0, 0, 0.15) 2px 4px 14px -4px;
   --skeleton-animation-primary: hsl(222, 45%, 96%);
   --skeleton-animation-secondary: hsl(0, 0%, 81%);
}