.app_light_theme {
   --bg-color: #FFF;
   --bg-color-rgb: 255, 255, 255;
   --footer-color: #0A112B;
   --title-color: #0A112B;
   --header-color: #fff;
   --text-color: #252626;
   --inverted-text-color: #fff;
   --line-color: #6A75C4;
   --fields-color: #EFF2F9;
   --card-color: #EFF2F9;
   --elem-shadow-color: 0 30 43 / 20%;
   --skeleton-animation-primary: hsl(222, 45%, 96%);
   --skeleton-animation-secondary: hsl(0, 0%, 81%);
}