.app_light_theme {
   --bg-color: #FFF;
   --bg-color-rgb: 255, 255, 255;
   --footer-color: #0A112B;
   --title-color: #0A112B;
   --text-color: #252626;
   --inverted-text-color: #fff;
   --line-color: #6A75C4;
   --fields-color: #EFF2F9;
}