.title {
   font-size: var(--font-size-xl);
   line-height: var(--font-line-xl);
   font-weight: var(--text-weight-extrabold);
   color: var(--primary-color);
}

.form {
   width: 100%;
   max-width: 320px;
}

.content {
   min-height: 90vh;
}