.content {
   min-height: 90vh;
}

.form {
   width: 100%;
   max-width: 320px;
}

.inputWrapper {
   position: relative;
}

.errorSubtitle {
   color: red;
}

.errorInput {
   position: absolute;
   top: -21px;
}