.xs {
   font-size: var(--font-size-xs);

   @media (width <= 480px){
      font-size: var(--font-size-xxs);
   }
}

.s {
   font-size: var(--font-size-s);

   @media (width <= 480px){
      font-size: var(--font-size-xs);
   }
}

.m {
   font-size: var(--font-size-m);

   @media (width <= 480px){
      font-size: var(--font-size-s);
   }
}

.l {
   font-size: var(--font-size-l);

   @media (width <= 480px){
      font-size: var(--font-size-m);
   }
}

.xl {
   font-size: var(--font-size-xl);

   @media (width <= 480px){
      font-size: var(--font-size-l);
   }
}

.xxl {
   font-size: var(--font-size-xxl);

   @media (width <= 480px){
      font-size: var(--font-size-xl);
   }
}

.xxxl {
   font-size: var(--font-size-xxxl);

   @media (width <= 480px){
      font-size: var(--font-size-xxl);
   }
}

.main {
   color: var(--text-main-color);
}

.inverted {
   color: var(--text-inverted-color);
}

.error {
   color: var(--error-color);
}

.primary {
   color: var(--text-primary-color);
}

.light{
   font-weight: var(--text-weight-light);
}  

.done{
   font-weight: var(--done-color);
} 

.medium{
   font-weight: var(--text-weight-medium);
}  

.bold{
   font-weight: var(--text-weight-bold);
}

.noWrap {
   white-space: nowrap;
}

.dots {
   overflow: hidden;
   text-overflow: ellipsis;
}

.left {
   text-align: left;
}

.center {
   text-align: center;
}

.right {
   text-align: right;
}