.info {
   padding: 40px;
   box-shadow: rgba(var(--elem-shadow-color)) 2px 4px 24px -4px;
   margin-bottom: 20px;
}

.category {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}

.categoryIcon {
   width: var(--category-icon-width);
   height: var(--category-icon-height);
   margin-right: 10px;
}

.start {
   margin-bottom: 30px;
}

.start span {
   font-weight: 600;
}

.lastCheck span {
   font-weight: 600;
}

.btnCheck {
   display: block;
   font-size: 16px;
   padding: 15px 30px;
   border-radius: 6px;
   background-color: var(--decor-color-1);
   color: #fff;
   font-weight: 600;
   margin-bottom: 40px;
}


@media (max-width: 380px) {
   .btns {
      flex-direction: column;
      align-items: flex-start;
   }

   .info {
      padding: 40px 30px;
   }
}

@media (max-width: 320px) {
   .info {
      padding: 40px 20px;
   }
}