.appButton{
   display: inline-block;
   border-radius: var(--border-radius-elems);
   font-size: inherit;
   
   &.mb20 {
      margin-bottom: 20px;
   }

   &.mb30 {
      margin-bottom: 30px;
   }

   &.mb40 {
      margin-bottom: 40px;
   }
}

.clear {
   color: var(--text-color);
   background: transparent;
}

.clearWhite {
   color: var(--white-color);
   background: transparent;
}

.background {
   background-color: var(--dark-primary-color);
   padding: var(--font-size-m) calc(var(--font-size-m) * 2);
   color: var(--white-color);
}

.mt20 {
   margin-top: 20px;
}




