.appButton {
   display: inline-block;
   border-radius: var(--border-radius-elems);
   font-size: inherit;
   background: transparent;
}

.clear {
   color: var(--text-color);
}

.clearWhite {
   color: var(--white-color);
}

.background {
   background: var(--dark-primary-color);
   padding: var(--font-size-m) calc(var(--font-size-m) * 2);
   color: var(--white-color);
}

.underline {
   position: relative;

   &::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -2px;
      background-color: var(--text-color);
      width: 100%;
      height: 1px;
   }
}




