.appButton {
   background: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
}

.background {
   border-radius: var(--appbutton-border-radius);
   font-size: var(--font-size-s);
   background: var(--dark-primary-color);
   padding: 12px 24px;
   color: var(--white-color);

   &:disabled{
      opacity: 50%;
      pointer-events: none;
   }
}

.underline {
   position: relative;

   &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      background-color: var(--text-color);
      width: 100%;
      height: 1px;
   }
}

.outline {
   padding: 12px 24px;
   font-size: var(--font-size-s);
   border: 1px solid var(--appbutton-line-color);
}

.focus {
   border: 1px solid var(--appbutton-focus-color);
}

.max {
   width: 100%;
}

.round {
   border-radius: var(--appbutton-border-radius);
}

.hover {
   &:hover {
      opacity: 50%;
   }
}



