.trackSkeleton {
   padding: 30px;
   box-shadow: var(--trackcard-skeleton-boxshadow);
   border-radius: var(--border-raduis-cards);
   background-color: var(--bg-color);
}

.progressContainer {
   max-width: 220px;
}