.removeForm {
   padding: 40px;
   background-color: var(--bg-color); 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.btns {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 180px;
}