.content {
   min-height: 90vh;
}

.title {
   font-size: var(--font-size-xl);
   line-height: var(--font-line-xl);
   color: var(--primary-color);
   font-weight: var(--text-weight-extrabold);
   max-width: 800px;
}

.title span {
   color: var(--title-color);
}

.subtitle {
   max-width: 450px;
}

// @media (max-width: 660px) {
//    .title {
//       font-size: var(--font-size-l);
//    }
// }

@media (width <= 540px) {
   .title {
      font-size: var(--font-size-l);
      line-height: var(--font-line-l);
   }
}