.appTitle {
   font-weight: var(--text-weight-extrabold);
}

.small {
   font-size: var(--font-size-s);
   line-height: var(--font-line-s);
}

.standart {
   font-size: var(--font-size-m);
   line-height: var(--font-line-m);
}

.big {
   font-size: var(--font-size-l);
   line-height: var(--font-line-l);
}

.large {
   font-size: var(--font-size-xl);
   line-height: var(--font-line-xl);
}

.main {
   color: var(--title-color);
}

.primary {
   color: var(--primary-color);
}

.white {
   color: var(--white-color);
}