.form {
   width: 100%;
   max-width: 400px;
}

.fieldWrapper {
   position: relative;
   width: 100%;
}

.errorText {
   position: absolute;
   top: -20px;
   color: var(--error-color);
}

.dropdownButton {
   border-radius: var(--border-radius-elems);
}

.trackLength {
   display: inline-flex;
   flex-direction: column;
   justify-content: flex-start;

   li:not(:last-child) {
         margin-bottom: 5px;
      }
}

.label {
   display: flex;
   align-items: center; 
   justify-content: flex-start;

   input {
      margin-right: 10px;
   }
}