.appLink {
   font-size: inherit;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.clear {
   color: var(--primary-color);
}

.underline {
   color: var(--primary-color);
   border-bottom: 1px solid var(--primary-color);
}

.button {
   display: inline-block;
   font-size: var(--font-size-s);
   padding: 12px 24px;
   background-color: var(--dark-primary-color);
   border-radius: var(--appbutton-border-radius);
   color: var(--white-color);
}

.white {
   color: var(--white-color);
   
   &:visited{
   color: var(--white-color);
   }
}