.menuList {
   padding: 20px 10px;
}

.listItem {
   width: 100%;
}

.listItemActive {
   position: relative;
   width: 100%;
   &::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 12px;
      width: 5px;
      height: 5px;
      border-radius: 50px;
      background-color: var(--text-primary-color);
   }
}


.listLink {
   padding: 2px 20px;
}