.category {
   display: flex;
   align-items: center;
}

.categoryIcon {
   margin-right: 10px;
   width: var(--icon-size-s);
   height: var(--icon-size-s);
}

.categoryName {
   font-size: var(--font-size-s);
}