.category {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}

.categoryIcon {
   margin-right: 10px;
   width: 30px;
   height: 30px;
}

.categoryName {
   font-size: var(--font-size-s);
}