.menu {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: var(--z-index-1);
   background-color: rgba(var(--bg-color-rgb), 0.8);
   display: flex;
   justify-content: flex-end;
}

.content {
   flex: 0 1 400px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   height: 100%;
   background-color: var(--primary-color);
   padding: 60px 30px;
   color: var(--white-color);
}

.data {
   color: inherit;
   margin-bottom: 50px;
}

.name {
   font-weight: 600;
}

.email {
   font-style: italic;
}

.nav {
   height: 100%;
   position: relative;
}

.action:not(:last-child) {
   margin-bottom: 5px;
}

.close {
   background: transparent;
   padding: 10px;
   position: absolute;
   top: 20px;
   right: 30px;
}

.logOut {
   position: absolute;
   bottom: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}


@media (max-width: 480px) {
   .content {
      flex: 1 1 300px;
   }
}